DISCORD_TOKEN=your-token-here
DATABASE_PASSWORD=your-secret-password-here
COMPOSE_PROFILES=production

# Development only
ADMINER_PORT=8080
POSTGRES_PORT=5432
CONNECTION_STRING=postgresql+asyncpg://postgres:Password1234@localhost:5432/StrachyBot