colorama == 0.4.6
discord == 2.3.2
dotenv == 0.9.9
requests == 2.34.2
types-colorama == 0.4.15

# JSON parsing
pydantic == 2.13.4

# database
sqlalchemy == 2.0.51
asyncpg == 0.31.0
alembic == 1.18.5
alembic-postgresql-enum == 1.10.0

# Songless
pydub == 0.25.1
static-ffmpeg == 3.0
